/* upper page  */

body {
    font-family: 'Arial',sans-serif;
    background-color: #131313;
}

body h1 {
  color: #FFFFFF;
  text-align: center;
  margin: 0px 25px 0px;
}

body h2 {
  color: #FFFFFF;
  text-align: center;
  margin: 0px 25px 0px
}

#logo {
  max-width: 3000px;
  margin: 0 auto;
  background-color: #fdfdfd;
}

#wrapper {
  max-width: 3000px;
  margin: 0 auto;
  background-color: #363636;
  padding: 32px;
}

.main_menu {
  padding: 5px 0 5px 0;
  text-align: center;
  line-height: 32px;
  background-color: #818181;
}

ul.main_menu {
  margin-top: 15px;
}

.main_menu li {
  display: inline;
  padding: 0 10px 0 10px;
  font-size: 20px;
}

.main_menu a {
  text-decoration: none;
  color: #FFFFFF;
  padding: 8px;
  font-variant: small-caps;
}

.main_menu a:hover {
  color: #59d5d8;
}

/* anime picture */

* {
	box-sizing: border-box;
}

.column {
	float: left;
	max-width: 33%;
	padding: 0px 0px 0px;
  margin: 0 1px;
  display: table-row;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}

/* anime picture animation */

.box{
  width: 80%;
  margin: 0 42px;
  box-shadow: 0 0 20px 15px #ffffff98;
  transition: 0.5s;
}

.box img{
  display: block;
  border-radius: 0px;
}

.box:hover{
  transform: scale(0.9);
  z-index: 2;
}




 
